.password-textfield-container {
  display: flex;

  width: 100%;
}

.password-textfield {
  flex: 1;
  font-family: monospace;
  padding-left: 0.5em;
  outline: none;
  border-radius: 3px 0 0 3px;
  border: 1px solid #8da1b9;
  background-color: #020d3b;
  color: #eeeeee;
}

.password-textfield::placeholder {
  color: #8da1b9;
}

@keyframes fade-in {
  from {
    opacity: 25%;
  }
  to {
    opacity: 100;
  }
}

.password-textfield-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-textfield-icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  border: 1px solid #8da1b9;
  background-color: #03124f;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

.checked {
  background-color: #3891a6;
}
